.main {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 2rem;
    grid-gap: 100px;
}
@media(max-width: 800px) {
    .main {
        grid-template-rows: auto 1fr;
        padding: 1rem;
        grid-gap: 1rem;
        grid-template-columns: 1fr;
    }
}